#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
}

.video-list-footer {
  margin: 2rem 5rem;
  display: flex;
  justify-content: flex-end;
}

.video-snippet-container {
  display: flex;
  justify-content: center;
}

.video-snippet {
  margin: 0 1rem;
  cursor: pointer;
  background-color: black;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-snippet svg {
  position: absolute;
  left: 15px;
  bottom: 92px;
}

.video-snippet .video-snippet-footer {
  width: 300px;
  height: 10%;
  margin: 0 auto;
  background-color: gray;
  padding: 1rem 0.5rem;
  border-radius: 0 0 15px 15px;
}

.video-list-footer button{
  background-color: aliceblue;
  color: #242424;
  font-size: 1.2rem;
  padding: 0.5rem 6rem;
}

.video-list-footer button:hover{
  background-color: gray;
  color: aliceblue;
}
