/* Estilos auxiliares */
.hide {
  display: none !important;
}

/* Estilos pantalla de video */
.video-screen {
  margin: 0 1rem;
  cursor: pointer;
  background-color: black;
  position: relative;
  animation: createBox 0.25s;
  width: 80%;
  border-radius: 15px;
}

.video-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-screen-container button {
  color: aliceblue;
  font-size: 1.1rem;
}

.video-screen-header,
.video-screen-footer {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  justify-content: space-between;
  width: 75%;
}

.video-screen .recording-button {
  position: absolute;
  left: 28px;
  bottom: 84px;
  font-size: 3rem;
}

.video-screen .video-screen-question {
  margin: 0 auto;
  background-color: gray;
  padding: 1rem 0.5rem;
  border-radius: 0 0 15px 15px;
  font-size: 1.1rem;
}

/* Estilos contador de tiempo */

.recording-time {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
}

.recording-time svg {
  color: red;
  animation-name: recording;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: recording;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

/* Animaciones */

@-moz-keyframes recording {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes recording {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes recording {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
